<launch>
  <param name="joy_type" value="logi" />

  <node respawn="true" pkg="joy" type="joy_node" name="raw_joy" clear_params="true">
    <rosparam command="load" file="$(find deneigus)/configs/joy_params.yaml" />
  </node>

  <node pkg="deneigus" type="executif.py" name="executif" output="screen"/>
  <node pkg="deneigus" required="true" type="pb2ros.py" name="pb2ros" output="screen"/>
</launch>
