<launch>
  <arg name="joy_port" value="/dev/input/js2" />
  <rosparam file="$(find deneigus)/launch/params.yml" />

  <node respawn="true" pkg="joy" type="joy_node" name="raw_joy" clear_params="true">
    <param name="dev" type="string" value="$(arg joy_port)" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="deneigus" type="executif.py" name="executif" output="screen" clear_params="true" />

  <node pkg="deneigus" type="pb2ros.py" name="pb2ros" output="screen" clear_params="true"/>
</launch>
