<launch>
  <param name="joy_type" value="logi" />
  <arg name="rviz_file" default="-d $(find deneigus)/rviz/simulations.rviz"/>

  <node respawn="true" pkg="joy" type="joy_node" name="raw_joy" clear_params="true">
    <rosparam command="load" file="$(find deneigus)/configs/joy_params.yaml" />
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="$(arg rviz_file)"/>
</launch>
